/*
Filename: App.css
Author: Tavian Dodd
Date Created: 01/15/2026
Last Updated: 02/05/2026
*/

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 20px rgba(77, 77, 255, 0.4);
    border-color: rgba(77, 77, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 50px rgba(77, 77, 255, 0.9);
    border-color: rgba(77, 77, 255, 1);
  }
  100% {
    box-shadow: 0 0 20px rgba(77, 77, 255, 0.4);
    border-color: rgba(77, 77, 255, 0.5);
  }
}