/*
Filename: index.css
Author: Tavian Dodd
Date Created: 01/15/2026
Last Updated: 01/20/2026
*/

html, body, #root {
  width: 100%;
  height: 100%; /* This tells the app to fill the vertical height */
  margin: 0;
  padding: 0;
  background-color: #111; /* Matches your dark mode */
  overflow: hidden; /* Removes scrollbars */
}

canvas {
  display: block; /* Removes tiny white gaps */
}
