/*
Filename: index.css
Author: Tavian Dodd
Date Created: 01/15/2026
Last Updated: 01/20/2026
*/

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111;
  overflow: hidden;
}

canvas {
  display: block;
}
